* {
  box-sizing: border-box; /* 47. Box-sizing */
}
/* 86. CSS Variables */
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ================common:Áp dụng chung cho cả website================= */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}
.btn {
  /* Button chung */
  display: inline-block; /* 51.CSS Layout-Display: Thẻ a mặc định display là inline nên không thêm padding được */
  padding: 0px 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* 67. Text overflow: Nếu tiêu đề dài thì cắt bớt dòng và thêm dấu ... */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1); /* Nếu sau này muốn tạo biến truyền vào thì sẽ sử dụng biến --line-clamp, còn nếu không sẽ sử dụng biến mặc định 1 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Phần tử nào có đồng thời 2 class .line-clamp và .line-2 mới thực hiện thay đổi giá trị --line-clamp thành 2 và truyền vào var()*/
.line-clamp.line-2 {
  --line-clamp: 2;
}

/* Fix lỗi khi người dùng nhập 1 từ quá dài không có khoảng trắng khiến nó không thể xuống dòng gây ra vỡ giao diện */
.break-all {
  word-break: break-all;
}
/* =============header============= */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky; /* 87.6: Position: Sticky; */
  top: -28px;
  z-index: 1; /* Để khi cuộn trang web xuống ảnh không chèn lên trên */
}
.header .body {
  display: flex; /* Làm cho 3 class Logo, nav, action nằm ngang ra */
  align-items: center; /* 89.3: Flex-Container_Align-items */
  padding: 36px 0px;
}

/* 89.10.Margin với FlexItem */
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative; /* 87.2: CSS Position: Chỉnh dấu gạch chân dưới chữ Home */
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
/* 33.Pseudo-Classes: hover */
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 0.5px 0px currentColor; /* 65.Text-Shadow */
}
.nav li.active a::after/* 83: Pseudo Elements */ {
  position: absolute; /* 87.2: CSS Position: Chỉnh dấu gạch chân dưới chữ Home */
  left: 21px;
  bottom: 6px;
  /* 87.2: End */

  display: block; /* 83: Pseudo Elements */
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  /* 83: End */
}
.header .btn-sign-up {
  min-width: 144px;
  margin-left: 49px;
}

/* ==================hero====================== */
.hero {
  padding: 56px 0 65px; /* Nếu dùng margin-top = 56px; thì sẽ không có màu nền nằm giữa header và hero */
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}
/* ==================== Hero left ================== */
.hero .media-block {
  position: relative; /* 87.2: CSS Position: Chỉnh khối hero-summary so với khối media-block*/
  width: 48%; /* Khối media-block nằm bên trái có chiều rộng bằng 48% khối hero */
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover; /* Giúp ảnh không làm vỡ giao diện khi kích thước lớn hơn cài đặt */
  border-radius: 20px;
}

.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute; /* 87.2: CSS Position: Chỉnh khối hero-summary so với khối media-block*/
  bottom: 48px;
  right: 0;
  /* Chỉnh nền cho khối hero-summary */
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  /* End */
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  /* 31. Combinator selectors: Tác động vào 1 class item nằm sau 1 class item khác */
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
  /* background-color: blue; */
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
/* ======================= Hero right ======================== */
.hero .content-block {
  width: 52%; /* Khối content-block nằm bên phải có chiều rộng bằng 52% khối hero */
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading); /* 86. CSS Variables */
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
}
.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer; /* Thay đổi hình dạng con trỏ chuột khi rê (hover) vào phần tử. */
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ===================== popular =================== */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .course-item {
  flex: 1; /* 89.9. FlexBox: Chia tỉ lệ 1:1 để khi nhập tiêu đề, mô tả quá dài sẽ không làm vỡ giao diện */
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
/* Khi hover vào sẽ mất border đi và hiện box-shadow lên */
.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  height: 278px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .course-item .btn-book {
  border: none; /* Do sử dụng thẻ button nên mặc định sẽ thêm border */
}

.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}

/* ================================ feedback =========================== */
.feedback {
  margin-top: 135px; /* Do padding của khối popular là 65px nên 200-65=135 */
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
}
.feedback-item .dot.active {
  cursor: default;
  background: var(--primary-color);
}

.feedback-item .content {
  width: 66%; /* khối .content rộng bằng 66% khối .main-content */
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

/* =========================== features 1=========================== */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .lower {
  margin-top: 36px;
}

.features .content {
  width: 41%; /* Chiều rộng của khối .content rộng bằng 41% chiều rộng của khối .main-content */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--primary-color);
}

/* =========================== features 2=========================== */
.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd {
  margin-top: 70px; /* Cả 2 khối features 1 và features 2 đều có padding là 65px => 200 - 130 = 70 */
}

.features-2nd .content {
  width: 49%; /* khối .content rộng bằng 49%% khối .main-content */
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
}
